*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid{
    margin: 30px auto;
    max-width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.border-grid{
    border: 2px solid rgb(47, 38, 230);
    border-radius: 5px;
}

#title{
    text-align: center;
}

h1{
    margin: 10px auto;
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(to right, blue, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.grid_cell{
    flex-basis: calc(100% / 9);
    aspect-ratio: 1/1;
    border: 0.5px solid rgb(93, 93, 93);
    position: relative;
}

.border-left{
    border-left: 1.5px solid rgb(47, 38, 230);
}
.border-right{
    border-right: 1.5px solid rgb(47, 38, 230);
}
.border-top{
    border-top: 1.5px solid rgb(47, 38, 230);
}
.border-bottom{
    border-bottom: 1.5px solid rgb(47, 38, 230);
}


.grid_cell span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.correct {
    background-color: #4CAF50;
    border-color: greenyellow;
}

.error {
    background-color: #f44336;
    border-color: red;

}


.preinsert{
    background-color: rgb(168, 167, 167);
}

#check{
    text-align: center;
    margin: 10px auto;
}

.none{
    display: none;
}

#wrapper_grid{
    position: relative;
}

#end_game{
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to right, blue, red);
    text-align: center;
    border-radius: 25px;
    color: white;
}

#end_game div{
    padding: 50px 40px;    
}
 /* BTNS */
.btns{
    margin: 15px auto;
}

#btn_start{
    padding: 5px 20px;
    background: linear-gradient(to right, blue, red);
    color: white;
    border-radius: 5px;
}

#btn_check{
    padding: 5px 20px;
    background: linear-gradient(to right, green, yellow);
    border-radius: 5px;
    border: 1px solid black;
}

#btn_complete{
    padding: 5px 20px;
    background: linear-gradient(to right, red, blue);
    border-radius: 5px;
    color: white;
    border: 1px solid black;
}

@media screen and (max-width:456px) {
    #grid{
        max-width: 90%;
    }
}